html, body {
    margin: auto;
    background-color: rgb(112, 21, 82);
}

.wrapper1 {
    margin: 0 auto;
    width: 60vh;
}

header {
    background-color: aqua;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navTop {
    background-color: rgb(195, 0, 255);
    font-family: 'Fahkwang', Lato;
    font-size: 18px;
}

.logo {
    display: flex;
    background-color: rgb(67, 224, 67);
    height: 100%;
    width: 30%;
    object-fit: contain;
}

.logo img {
    height: 75%;
}